<div>
    <ul class="main">
        <li>@Html.ActionLink("복습하기", "Review", "Home")</li>
        <li>@Html.ActionLink("시험보기", "Test", "Home")</li>
        <li>@Html.ActionLink("무인도", "Venice", "Home")</li>
        <li>@Html.ActionLink("자주틀리는단어", "Often", "Home")</li>
        <li>@Html.ActionLink("사전", "Library", "Home")</li>
        <li>@Html.ActionLink("신규등록", "Insert", "Home")</li>
        <li>@Html.ActionLink("옵션", "Option", "Home")</li>
        <li>@Html.ActionLink("ERP-회계", "Accounting", "Home")</li>
    </ul>
</div>